USE [DB:ATTMNG_CERES]
GO
/****** Object:  Table [dbo].[UserUsedSClasses]    Script Date: 09/02/2026 12:30:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserUsedSClasses](
	[UserId] [int] NOT NULL,
	[SchId] [int] NOT NULL,
 CONSTRAINT [USER_USED_SCL] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[SchId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserUpdates]    Script Date: 09/02/2026 12:30:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserUpdates](
	[UpdateId] [int] IDENTITY(1,1) NOT NULL,
	[BadgeNumber] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[UpdateId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UsersMachines]    Script Date: 09/02/2026 12:30:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersMachines](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERID] [int] NOT NULL,
	[DEVICEID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERINFO_ACCESS]    Script Date: 09/02/2026 12:30:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERINFO_ACCESS](
	[USERID] [int] NOT NULL,
	[Badgenumber] [nvarchar](24) NOT NULL,
	[SSN] [nvarchar](20) NULL,
	[Name] [nvarchar](24) NULL,
	[Gender] [nvarchar](8) NULL,
	[TITLE] [nvarchar](20) NULL,
	[PAGER] [nvarchar](20) NULL,
	[BIRTHDAY] [datetime] NULL,
	[HIREDDAY] [datetime] NULL,
	[street] [nvarchar](80) NULL,
	[CITY] [nvarchar](2) NULL,
	[STATE] [nvarchar](2) NULL,
	[ZIP] [nvarchar](12) NULL,
	[OPHONE] [nvarchar](20) NULL,
	[FPHONE] [nvarchar](20) NULL,
	[VERIFICATIONMETHOD] [smallint] NULL,
	[DEFAULTDEPTID] [smallint] NULL,
	[SECURITYFLAGS] [smallint] NULL,
	[ATT] [smallint] NOT NULL,
	[INLATE] [smallint] NOT NULL,
	[OUTEARLY] [smallint] NOT NULL,
	[OVERTIME] [smallint] NOT NULL,
	[SEP] [smallint] NOT NULL,
	[HOLIDAY] [smallint] NOT NULL,
	[MINZU] [nvarchar](8) NULL,
	[PASSWORD] [nvarchar](20) NULL,
	[LUNCHDURATION] [smallint] NOT NULL,
	[MVERIFYPASS] [nvarchar](10) NULL,
	[PHOTO] [image] NULL,
	[Notes] [image] NULL,
	[privilege] [int] NULL,
	[InheritDeptSch] [smallint] NULL,
	[InheritDeptSchClass] [smallint] NULL,
	[AutoSchPlan] [smallint] NULL,
	[MinAutoSchInterval] [int] NULL,
	[RegisterOT] [smallint] NULL,
	[InheritDeptRule] [smallint] NULL,
	[EMPRIVILEGE] [smallint] NULL,
	[CardNo] [nvarchar](20) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERINFO]    Script Date: 09/02/2026 12:30:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USERINFO](
	[USERID] [int] IDENTITY(1,1) NOT NULL,
	[BADGENUMBER] [varchar](24) NOT NULL,
	[SSN] [varchar](20) NULL,
	[NAME] [varchar](24) NULL,
	[GENDER] [varchar](8) NULL,
	[TITLE] [varchar](20) NULL,
	[PAGER] [varchar](20) NULL,
	[BIRTHDAY] [datetime] NULL,
	[HIREDDAY] [datetime] NULL,
	[STREET] [varchar](80) NULL,
	[CITY] [varchar](2) NULL,
	[STATE] [varchar](2) NULL,
	[ZIP] [varchar](12) NULL,
	[OPHONE] [varchar](20) NULL,
	[FPHONE] [varchar](20) NULL,
	[VERIFICATIONMETHOD] [smallint] NULL,
	[DEFAULTDEPTID] [smallint] NULL,
	[SECURITYFLAGS] [smallint] NULL,
	[ATT] [smallint] NOT NULL,
	[INLATE] [smallint] NOT NULL,
	[OUTEARLY] [smallint] NOT NULL,
	[OVERTIME] [smallint] NOT NULL,
	[SEP] [smallint] NOT NULL,
	[HOLIDAY] [smallint] NOT NULL,
	[MINZU] [varchar](8) NULL,
	[PASSWORD] [varchar](50) NULL,
	[LUNCHDURATION] [smallint] NOT NULL,
	[MVerifyPass] [varchar](10) NULL,
	[PHOTO] [image] NULL,
	[Notes] [image] NULL,
	[privilege] [int] NULL,
	[InheritDeptSch] [smallint] NULL,
	[InheritDeptSchClass] [smallint] NULL,
	[AutoSchPlan] [smallint] NULL,
	[MinAutoSchInterval] [int] NULL,
	[RegisterOT] [smallint] NULL,
	[InheritDeptRule] [smallint] NULL,
	[EMPRIVILEGE] [smallint] NULL,
	[CardNo] [varchar](20) NULL,
	[FaceGroup] [int] NULL,
	[AccGroup] [int] NULL,
	[UseAccGroupTZ] [int] NULL,
	[VerifyCode] [int] NULL,
	[Expires] [int] NULL,
	[ValidCount] [int] NULL,
	[ValidTimeBegin] [datetime] NULL,
	[ValidTimeEnd] [datetime] NULL,
	[TimeZone1] [int] NULL,
	[TimeZone2] [int] NULL,
	[TimeZone3] [int] NULL,
 CONSTRAINT [USERIDS] PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserACPrivilege]    Script Date: 09/02/2026 12:30:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserACPrivilege](
	[UserID] [int] NOT NULL,
	[DeviceID] [int] NOT NULL,
	[ACGroupID] [int] NULL,
	[IsUseGroup] [bit] NULL,
	[TimeZone1] [int] NULL,
	[TimeZone2] [int] NULL,
	[TimeZone3] [int] NULL,
	[verifystyle] [int] NULL,
 CONSTRAINT [pk_privilege] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[DeviceID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserACMachines]    Script Date: 09/02/2026 12:30:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserACMachines](
	[UserID] [int] NOT NULL,
	[Deviceid] [int] NOT NULL,
 CONSTRAINT [UserAC_Machines] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[Deviceid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_TEMP_SCH]    Script Date: 09/02/2026 12:30:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_TEMP_SCH](
	[USERID] [int] NOT NULL,
	[COMETIME] [datetime] NOT NULL,
	[LEAVETIME] [datetime] NOT NULL,
	[OVERTIME] [int] NOT NULL,
	[TYPE] [smallint] NULL,
	[FLAG] [smallint] NULL,
	[SCHCLASSID] [int] NULL,
 CONSTRAINT [USER_TEMP] PRIMARY KEY CLUSTERED 
(
	[USERID] ASC,
	[COMETIME] ASC,
	[LEAVETIME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_SPEDAY]    Script Date: 09/02/2026 12:30:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USER_SPEDAY](
	[USERID] [int] NOT NULL,
	[STARTSPECDAY] [datetime] NOT NULL,
	[ENDSPECDAY] [datetime] NULL,
	[DATEID] [smallint] NOT NULL,
	[YUANYING] [varchar](200) NULL,
	[DATE] [datetime] NULL,
 CONSTRAINT [USER_SEP] PRIMARY KEY CLUSTERED 
(
	[USERID] ASC,
	[STARTSPECDAY] ASC,
	[DATEID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USER_OF_RUN]    Script Date: 09/02/2026 12:30:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_OF_RUN](
	[USERID] [int] NOT NULL,
	[NUM_OF_RUN_ID] [int] NOT NULL,
	[STARTDATE] [datetime] NOT NULL,
	[ENDDATE] [datetime] NOT NULL,
	[ISNOTOF_RUN] [int] NULL,
	[ORDER_RUN] [int] NULL,
 CONSTRAINT [USER_ST_NUM] PRIMARY KEY CLUSTERED 
(
	[USERID] ASC,
	[NUM_OF_RUN_ID] ASC,
	[STARTDATE] ASC,
	[ENDDATE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEMPLATE]    Script Date: 09/02/2026 12:30:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TEMPLATE](
	[TEMPLATEID] [int] IDENTITY(1,1) NOT NULL,
	[USERID] [int] NOT NULL,
	[FINGERID] [int] NOT NULL,
	[TEMPLATE] [image] NOT NULL,
	[TEMPLATE2] [image] NULL,
	[TEMPLATE3] [image] NULL,
	[BITMAPPICTURE] [image] NULL,
	[BITMAPPICTURE2] [image] NULL,
	[BITMAPPICTURE3] [image] NULL,
	[BITMAPPICTURE4] [image] NULL,
	[USETYPE] [smallint] NULL,
	[EMACHINENUM] [varchar](3) NULL,
	[TEMPLATE1] [image] NULL,
	[Flag] [smallint] NULL,
	[DivisionFP] [smallint] NULL,
	[TEMPLATE4] [image] NULL,
 CONSTRAINT [TEMPLATED] PRIMARY KEY CLUSTERED 
(
	[TEMPLATEID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBSMSINFO]    Script Date: 09/02/2026 12:30:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBSMSINFO](
	[REFERENCE] [int] NOT NULL,
	[SMSID] [varchar](16) NOT NULL,
	[SMSINDEX] [int] NOT NULL,
	[SMSTYPE] [int] NULL,
	[SMSCONTENT] [text] NULL,
	[SMSSTARTTM] [varchar](32) NULL,
	[SMSTMLENG] [int] NULL,
	[GENTM] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[REFERENCE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBSMSALLOT]    Script Date: 09/02/2026 12:30:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBSMSALLOT](
	[REFERENCE] [int] NOT NULL,
	[SMSREF] [int] NOT NULL,
	[USERREF] [int] NOT NULL,
	[GENTM] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[REFERENCE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBKEY]    Script Date: 09/02/2026 12:30:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBKEY](
	[PreName] [varchar](12) NULL,
	[ONEKEY] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SystemLog]    Script Date: 09/02/2026 12:30:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SystemLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Operator] [varchar](20) NULL,
	[LogTime] [datetime] NULL,
	[MachineAlias] [varchar](20) NULL,
	[LogTag] [smallint] NULL,
	[LogDescr] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SHIFT]    Script Date: 09/02/2026 12:30:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SHIFT](
	[SHIFTID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](20) NULL,
	[USHIFTID] [int] NULL,
	[STARTDATE] [datetime] NOT NULL,
	[ENDDATE] [datetime] NULL,
	[RUNNUM] [smallint] NULL,
	[SCH1] [int] NULL,
	[SCH2] [int] NULL,
	[SCH3] [int] NULL,
	[SCH4] [int] NULL,
	[SCH5] [int] NULL,
	[SCH6] [int] NULL,
	[SCH7] [int] NULL,
	[SCH8] [int] NULL,
	[SCH9] [int] NULL,
	[SCH10] [int] NULL,
	[SCH11] [int] NULL,
	[SCH12] [int] NULL,
	[CYCLE] [smallint] NULL,
	[UNITS] [smallint] NULL,
 CONSTRAINT [SHIFTS] PRIMARY KEY CLUSTERED 
(
	[SHIFTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ServerLog]    Script Date: 09/02/2026 12:30:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ServerLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EVENT] [varchar](30) NOT NULL,
	[USERID] [int] NOT NULL,
	[EnrollNumber] [varchar](30) NULL,
	[parameter] [smallint] NULL,
	[EVENTTIME] [datetime] NOT NULL,
	[SENSORID] [varchar](5) NULL,
	[OPERATOR] [varchar](20) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SECURITYDETAILS]    Script Date: 09/02/2026 12:30:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SECURITYDETAILS](
	[SECURITYDETAILID] [int] IDENTITY(1,1) NOT NULL,
	[USERID] [int] NULL,
	[DEPTID] [smallint] NULL,
	[SCHEDULE] [smallint] NULL,
	[USERINFO] [smallint] NULL,
	[ENROLLFINGERS] [smallint] NULL,
	[REPORTVIEW] [smallint] NULL,
	[REPORT] [varchar](10) NULL,
	[ReadOnly] [bit] NULL,
	[FullControl] [bit] NULL,
 CONSTRAINT [NAMEID2] PRIMARY KEY CLUSTERED 
(
	[SECURITYDETAILID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SchClass]    Script Date: 09/02/2026 12:30:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SchClass](
	[schClassid] [int] IDENTITY(1,1) NOT NULL,
	[schName] [varchar](20) NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[LateMinutes] [int] NULL,
	[EarlyMinutes] [int] NULL,
	[CheckIn] [int] NULL,
	[CheckOut] [int] NULL,
	[CheckInTime1] [datetime] NULL,
	[CheckInTime2] [datetime] NULL,
	[CheckOutTime1] [datetime] NULL,
	[CheckOutTime2] [datetime] NULL,
	[Color] [int] NULL,
	[AutoBind] [smallint] NULL,
	[WorkDay] [float] NULL,
	[SensorID] [varchar](5) NULL,
	[WorkMins] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[schClassid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ReportItem]    Script Date: 09/02/2026 12:30:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ReportItem](
	[RIID] [int] IDENTITY(1,1) NOT NULL,
	[RIIndex] [int] NULL,
	[ShowIt] [smallint] NULL,
	[RIName] [varchar](12) NULL,
	[UnitName] [varchar](6) NULL,
	[Formula] [image] NOT NULL,
	[CalcBySchClass] [smallint] NULL,
	[StatisticMethod] [smallint] NULL,
	[CalcLast] [smallint] NULL,
	[Notes] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[RIID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NUM_RUN_DEIL]    Script Date: 09/02/2026 12:30:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NUM_RUN_DEIL](
	[NUM_RUNID] [smallint] NOT NULL,
	[STARTTIME] [datetime] NOT NULL,
	[ENDTIME] [datetime] NULL,
	[SDAYS] [smallint] NOT NULL,
	[EDAYS] [smallint] NULL,
	[SCHCLASSID] [int] NULL,
	[OverTime] [int] NULL,
 CONSTRAINT [NUMID2] PRIMARY KEY CLUSTERED 
(
	[NUM_RUNID] ASC,
	[SDAYS] ASC,
	[STARTTIME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NUM_RUN]    Script Date: 09/02/2026 12:30:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NUM_RUN](
	[NUM_RUNID] [int] IDENTITY(1,1) NOT NULL,
	[OLDID] [int] NULL,
	[NAME] [varchar](30) NOT NULL,
	[STARTDATE] [datetime] NULL,
	[ENDDATE] [datetime] NULL,
	[CYLE] [smallint] NULL,
	[UNITS] [smallint] NULL,
 CONSTRAINT [NUMID] PRIMARY KEY CLUSTERED 
(
	[NUM_RUNID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Machines]    Script Date: 09/02/2026 12:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Machines](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MachineAlias] [varchar](20) NOT NULL,
	[ConnectType] [int] NOT NULL,
	[IP] [varchar](20) NULL,
	[SerialPort] [int] NULL,
	[Port] [int] NULL,
	[Baudrate] [int] NULL,
	[MachineNumber] [int] NOT NULL,
	[IsHost] [bit] NULL,
	[Enabled] [bit] NULL,
	[CommPassword] [varchar](12) NULL,
	[UILanguage] [smallint] NULL,
	[DateFormat] [smallint] NULL,
	[InOutRecordWarn] [smallint] NULL,
	[Idle] [smallint] NULL,
	[Voice] [smallint] NULL,
	[managercount] [smallint] NULL,
	[usercount] [smallint] NULL,
	[fingercount] [smallint] NULL,
	[SecretCount] [smallint] NULL,
	[FirmwareVersion] [varchar](20) NULL,
	[ProductType] [varchar](20) NULL,
	[LockControl] [smallint] NULL,
	[Purpose] [smallint] NULL,
	[ProduceKind] [int] NULL,
	[sn] [varchar](20) NULL,
	[PhotoStamp] [varchar](20) NULL,
	[IsIfChangeConfigServer2] [int] NULL,
	[IsAndroid] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LeaveClass1]    Script Date: 09/02/2026 12:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LeaveClass1](
	[LeaveId] [int] IDENTITY(999,1) NOT NULL,
	[LeaveName] [varchar](20) NOT NULL,
	[MinUnit] [float] NOT NULL,
	[Unit] [smallint] NOT NULL,
	[RemaindProc] [smallint] NOT NULL,
	[RemaindCount] [smallint] NOT NULL,
	[ReportSymbol] [varchar](4) NOT NULL,
	[Deduct] [float] NOT NULL,
	[LeaveType] [smallint] NOT NULL,
	[Color] [int] NOT NULL,
	[Classify] [smallint] NOT NULL,
	[Calc] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[LeaveId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LeaveClass]    Script Date: 09/02/2026 12:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LeaveClass](
	[LeaveId] [int] IDENTITY(1,1) NOT NULL,
	[LeaveName] [varchar](20) NOT NULL,
	[MinUnit] [float] NOT NULL,
	[Unit] [smallint] NOT NULL,
	[RemaindProc] [smallint] NOT NULL,
	[RemaindCount] [smallint] NOT NULL,
	[ReportSymbol] [varchar](4) NOT NULL,
	[Deduct] [float] NOT NULL,
	[Color] [int] NOT NULL,
	[Classify] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LeaveId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOLIDAYS]    Script Date: 09/02/2026 12:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOLIDAYS](
	[HOLIDAYID] [int] IDENTITY(1,1) NOT NULL,
	[HOLIDAYNAME] [varchar](20) NULL,
	[HOLIDAYYEAR] [smallint] NULL,
	[HOLIDAYMONTH] [smallint] NULL,
	[HOLIDAYDAY] [smallint] NULL,
	[STARTTIME] [datetime] NULL,
	[DURATION] [smallint] NULL,
	[HOLIDAYTYPE] [smallint] NULL,
	[XINBIE] [varchar](4) NULL,
	[MINZU] [varchar](50) NULL,
	[DeptID] [smallint] NULL,
	[timezone] [int] NULL,
 CONSTRAINT [HOLID] PRIMARY KEY CLUSTERED 
(
	[HOLIDAYID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FaceTemp]    Script Date: 09/02/2026 12:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FaceTemp](
	[TEMPLATEID] [int] IDENTITY(1,1) NOT NULL,
	[USERNO] [char](10) NULL,
	[SIZE] [int] NULL,
	[PIN] [int] NULL,
	[FACEID] [int] NULL,
	[VALID] [int] NULL,
	[RESERVE] [int] NULL,
	[ACTIVETIME] [int] NULL,
	[VFCOUNT] [int] NULL,
	[TEMPLATE] [image] NULL,
	[UserID] [int] NULL,
 CONSTRAINT [FACEUSERIDS] PRIMARY KEY CLUSTERED 
(
	[TEMPLATEID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EXCNOTES]    Script Date: 09/02/2026 12:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EXCNOTES](
	[USERID] [int] NULL,
	[ATTDATE] [datetime] NULL,
	[NOTES] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EmOpLog]    Script Date: 09/02/2026 12:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EmOpLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERID] [int] NOT NULL,
	[OperateTime] [datetime] NOT NULL,
	[manipulationID] [int] NULL,
	[Params1] [int] NULL,
	[Params2] [int] NULL,
	[Params3] [int] NULL,
	[Params4] [int] NULL,
	[SensorId] [varchar](5) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DeptUsedSchs]    Script Date: 09/02/2026 12:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeptUsedSchs](
	[DeptId] [int] NOT NULL,
	[SchId] [int] NOT NULL,
 CONSTRAINT [DEPT_USED_SCH] PRIMARY KEY CLUSTERED 
(
	[DeptId] ASC,
	[SchId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTMENTS]    Script Date: 09/02/2026 12:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DEPARTMENTS](
	[DEPTID] [int] IDENTITY(1,1) NOT NULL,
	[DEPTNAME] [varchar](30) NULL,
	[SUPDEPTID] [int] NOT NULL,
	[InheritParentSch] [smallint] NULL,
	[InheritDeptSch] [smallint] NULL,
	[InheritDeptSchClass] [smallint] NULL,
	[AutoSchPlan] [smallint] NULL,
	[InLate] [smallint] NULL,
	[OutEarly] [smallint] NULL,
	[InheritDeptRule] [smallint] NULL,
	[MinAutoSchInterval] [int] NULL,
	[RegisterOT] [smallint] NULL,
	[DefaultSchId] [int] NOT NULL,
	[ATT] [smallint] NULL,
	[Holiday] [smallint] NULL,
	[OverTime] [smallint] NULL,
 CONSTRAINT [DEPTID] PRIMARY KEY CLUSTERED 
(
	[DEPTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHECKINOUT_access]    Script Date: 09/02/2026 12:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHECKINOUT_access](
	[USERID] [int] NOT NULL,
	[CHECKTIME] [datetime] NOT NULL,
	[CHECKTYPE] [nvarchar](1) NULL,
	[VERIFYCODE] [int] NULL,
	[SENSORID] [nvarchar](5) NULL,
	[WorkCode] [int] NULL,
	[sn] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHECKINOUT]    Script Date: 09/02/2026 12:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHECKINOUT](
	[USERID] [int] NOT NULL,
	[CHECKTIME] [datetime] NOT NULL,
	[CHECKTYPE] [varchar](1) NULL,
	[VERIFYCODE] [int] NULL,
	[SENSORID] [varchar](5) NULL,
	[Memoinfo] [varchar](30) NULL,
	[WorkCode] [int] NULL,
	[sn] [varchar](20) NULL,
	[UserExtFmt] [int] NULL,
 CONSTRAINT [USERCHECKTIME] PRIMARY KEY CLUSTERED 
(
	[USERID] ASC,
	[CHECKTIME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHECKEXACT]    Script Date: 09/02/2026 12:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHECKEXACT](
	[EXACTID] [int] IDENTITY(1,1) NOT NULL,
	[USERID] [int] NULL,
	[CHECKTIME] [datetime] NULL,
	[CHECKTYPE] [varchar](2) NULL,
	[ISADD] [smallint] NULL,
	[YUYIN] [varchar](25) NULL,
	[ISMODIFY] [smallint] NULL,
	[ISDELETE] [smallint] NULL,
	[INCOUNT] [smallint] NULL,
	[ISCOUNT] [smallint] NULL,
	[MODIFYBY] [varchar](20) NULL,
	[DATE] [datetime] NULL,
 CONSTRAINT [EXACTID] PRIMARY KEY CLUSTERED 
(
	[EXACTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AuditedExc]    Script Date: 09/02/2026 12:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AuditedExc](
	[AEID] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[CheckTime] [datetime] NOT NULL,
	[NewExcID] [int] NULL,
	[IsLeave] [smallint] NULL,
	[UName] [varchar](20) NULL,
	[UTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AEID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AttParam]    Script Date: 09/02/2026 12:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AttParam](
	[PARANAME] [varchar](20) NOT NULL,
	[PARATYPE] [varchar](2) NULL,
	[PARAVALUE] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PARANAME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AlarmLog]    Script Date: 09/02/2026 12:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AlarmLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Operator] [varchar](20) NULL,
	[EnrollNumber] [varchar](30) NULL,
	[LogTime] [datetime] NULL,
	[MachineAlias] [varchar](20) NULL,
	[AlarmType] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ACUnlockComb]    Script Date: 09/02/2026 12:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACUnlockComb](
	[UnlockCombID] [smallint] NOT NULL,
	[Name] [varchar](30) NULL,
	[Group01] [smallint] NULL,
	[Group02] [smallint] NULL,
	[Group03] [smallint] NULL,
	[Group04] [smallint] NULL,
	[Group05] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[UnlockCombID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ACTimeZones]    Script Date: 09/02/2026 12:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACTimeZones](
	[TimeZoneID] [smallint] NOT NULL,
	[Name] [varchar](30) NULL,
	[SunStart] [datetime] NULL,
	[SunEnd] [datetime] NULL,
	[MonStart] [datetime] NULL,
	[MonEnd] [datetime] NULL,
	[TuesStart] [datetime] NULL,
	[TuesEnd] [datetime] NULL,
	[WedStart] [datetime] NULL,
	[WedEnd] [datetime] NULL,
	[ThursStart] [datetime] NULL,
	[ThursEnd] [datetime] NULL,
	[FriStart] [datetime] NULL,
	[FriEnd] [datetime] NULL,
	[SatStart] [datetime] NULL,
	[SatEnd] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TimeZoneID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[acholiday]    Script Date: 09/02/2026 12:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acholiday](
	[primaryid] [int] IDENTITY(1,1) NOT NULL,
	[holidayid] [int] NULL,
	[begindate] [datetime] NULL,
	[enddate] [datetime] NULL,
	[timezone] [int] NULL,
 CONSTRAINT [AUTHKEY] PRIMARY KEY CLUSTERED 
(
	[primaryid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACGroup]    Script Date: 09/02/2026 12:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACGroup](
	[GroupID] [smallint] NOT NULL,
	[Name] [varchar](30) NULL,
	[TimeZone1] [smallint] NULL,
	[TimeZone2] [smallint] NULL,
	[TimeZone3] [smallint] NULL,
	[holidayvaild] [bit] NULL,
	[verifystyle] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Default [DF__ACGroup__TimeZon__7FEAFD3E]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[ACGroup] ADD  DEFAULT ((0)) FOR [TimeZone1]
GO
/****** Object:  Default [DF__ACGroup__TimeZon__00DF2177]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[ACGroup] ADD  DEFAULT ((0)) FOR [TimeZone2]
GO
/****** Object:  Default [DF__ACGroup__TimeZon__01D345B0]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[ACGroup] ADD  DEFAULT ((0)) FOR [TimeZone3]
GO
/****** Object:  Default [DF__AlarmLog__LogTim__11158940]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[AlarmLog] ADD  DEFAULT (getdate()) FOR [LogTime]
GO
/****** Object:  Default [DF__CHECKEXAC__USERI__4F7CD00D]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[CHECKEXACT] ADD  DEFAULT ((0)) FOR [USERID]
GO
/****** Object:  Default [DF__CHECKEXAC__CHECK__5070F446]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[CHECKEXACT] ADD  DEFAULT ((0)) FOR [CHECKTIME]
GO
/****** Object:  Default [DF__CHECKEXAC__CHECK__5165187F]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[CHECKEXACT] ADD  DEFAULT ((0)) FOR [CHECKTYPE]
GO
/****** Object:  Default [DF__CHECKEXAC__ISADD__52593CB8]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[CHECKEXACT] ADD  DEFAULT ((0)) FOR [ISADD]
GO
/****** Object:  Default [DF__CHECKEXAC__ISMOD__534D60F1]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[CHECKEXACT] ADD  DEFAULT ((0)) FOR [ISMODIFY]
GO
/****** Object:  Default [DF__CHECKEXAC__ISDEL__5441852A]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[CHECKEXACT] ADD  DEFAULT ((0)) FOR [ISDELETE]
GO
/****** Object:  Default [DF__CHECKEXAC__INCOU__5535A963]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[CHECKEXACT] ADD  DEFAULT ((0)) FOR [INCOUNT]
GO
/****** Object:  Default [DF__CHECKEXAC__ISCOU__5629CD9C]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[CHECKEXACT] ADD  DEFAULT ((0)) FOR [ISCOUNT]
GO
/****** Object:  Default [DF__CHECKEXAC__MODIF__15A53433]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[CHECKEXACT] ADD  DEFAULT ('-') FOR [MODIFYBY]
GO
/****** Object:  Default [DF__CHECKINOU__CHECK__59063A47]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[CHECKINOUT] ADD  DEFAULT (getdate()) FOR [CHECKTIME]
GO
/****** Object:  Default [DF__CHECKINOU__CHECK__59FA5E80]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[CHECKINOUT] ADD  DEFAULT ('I') FOR [CHECKTYPE]
GO
/****** Object:  Default [DF__CHECKINOU__VERIF__5AEE82B9]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[CHECKINOUT] ADD  DEFAULT ((0)) FOR [VERIFYCODE]
GO
/****** Object:  Default [DF__CHECKINOU__WorkC__19AACF41]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[CHECKINOUT] ADD  DEFAULT ((0)) FOR [WorkCode]
GO
/****** Object:  Default [DF_CHECKINOUT_UserExtFmt]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[CHECKINOUT] ADD  CONSTRAINT [DF_CHECKINOUT_UserExtFmt]  DEFAULT ((0)) FOR [UserExtFmt]
GO
/****** Object:  Default [DF__DEPARTMEN__SUPDE__5DCAEF64]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[DEPARTMENTS] ADD  DEFAULT ((1)) FOR [SUPDEPTID]
GO
/****** Object:  Default [DF__DEPARTMEN__Inher__4B7734FF]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[DEPARTMENTS] ADD  DEFAULT ((1)) FOR [InheritParentSch]
GO
/****** Object:  Default [DF__DEPARTMEN__Inher__4C6B5938]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[DEPARTMENTS] ADD  DEFAULT ((1)) FOR [InheritDeptSch]
GO
/****** Object:  Default [DF__DEPARTMEN__Inher__4D5F7D71]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[DEPARTMENTS] ADD  DEFAULT ((1)) FOR [InheritDeptSchClass]
GO
/****** Object:  Default [DF__DEPARTMEN__AutoS__4E53A1AA]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[DEPARTMENTS] ADD  DEFAULT ((1)) FOR [AutoSchPlan]
GO
/****** Object:  Default [DF__DEPARTMEN__InLat__4F47C5E3]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[DEPARTMENTS] ADD  DEFAULT ((1)) FOR [InLate]
GO
/****** Object:  Default [DF__DEPARTMEN__OutEa__503BEA1C]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[DEPARTMENTS] ADD  DEFAULT ((1)) FOR [OutEarly]
GO
/****** Object:  Default [DF__DEPARTMEN__Inher__51300E55]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[DEPARTMENTS] ADD  DEFAULT ((1)) FOR [InheritDeptRule]
GO
/****** Object:  Default [DF__DEPARTMEN__MinAu__5224328E]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[DEPARTMENTS] ADD  DEFAULT ((24)) FOR [MinAutoSchInterval]
GO
/****** Object:  Default [DF__DEPARTMEN__Regis__531856C7]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[DEPARTMENTS] ADD  DEFAULT ((1)) FOR [RegisterOT]
GO
/****** Object:  Default [DF__DEPARTMEN__Defau__540C7B00]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[DEPARTMENTS] ADD  DEFAULT ((1)) FOR [DefaultSchId]
GO
/****** Object:  Default [DF__DEPARTMENTS__ATT__55009F39]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[DEPARTMENTS] ADD  DEFAULT ((1)) FOR [ATT]
GO
/****** Object:  Default [DF__DEPARTMEN__Holid__55F4C372]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[DEPARTMENTS] ADD  DEFAULT ((1)) FOR [Holiday]
GO
/****** Object:  Default [DF__DEPARTMEN__OverT__56E8E7AB]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[DEPARTMENTS] ADD  DEFAULT ((1)) FOR [OverTime]
GO
/****** Object:  Default [DF__FaceTemp__UserID__14B10FFA]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[FaceTemp] ADD  DEFAULT ((0)) FOR [UserID]
GO
/****** Object:  Default [DF__HOLIDAYS__HOLIDA__619B8048]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[HOLIDAYS] ADD  DEFAULT ((1)) FOR [HOLIDAYDAY]
GO
/****** Object:  Default [DF__HOLIDAYS__DeptID__12FDD1B2]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[HOLIDAYS] ADD  DEFAULT ((1)) FOR [DeptID]
GO
/****** Object:  Default [DF__HOLIDAYS__timezo__0A338187]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[HOLIDAYS] ADD  DEFAULT ((0)) FOR [timezone]
GO
/****** Object:  Default [DF__LeaveClas__MinUn__2180FB33]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[LeaveClass] ADD  DEFAULT ((1)) FOR [MinUnit]
GO
/****** Object:  Default [DF__LeaveClass__Unit__22751F6C]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[LeaveClass] ADD  DEFAULT ((1)) FOR [Unit]
GO
/****** Object:  Default [DF__LeaveClas__Remai__236943A5]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[LeaveClass] ADD  DEFAULT ((1)) FOR [RemaindProc]
GO
/****** Object:  Default [DF__LeaveClas__Remai__245D67DE]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[LeaveClass] ADD  DEFAULT ((1)) FOR [RemaindCount]
GO
/****** Object:  Default [DF__LeaveClas__Repor__25518C17]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[LeaveClass] ADD  DEFAULT ('-') FOR [ReportSymbol]
GO
/****** Object:  Default [DF__LeaveClas__Deduc__2645B050]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[LeaveClass] ADD  DEFAULT ((0)) FOR [Deduct]
GO
/****** Object:  Default [DF__LeaveClas__Color__2739D489]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[LeaveClass] ADD  DEFAULT ((0)) FOR [Color]
GO
/****** Object:  Default [DF__LeaveClas__Class__282DF8C2]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[LeaveClass] ADD  DEFAULT ((0)) FOR [Classify]
GO
/****** Object:  Default [DF__LeaveClas__MinUn__2CF2ADDF]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[LeaveClass1] ADD  DEFAULT ((1)) FOR [MinUnit]
GO
/****** Object:  Default [DF__LeaveClass__Unit__2DE6D218]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[LeaveClass1] ADD  DEFAULT ((0)) FOR [Unit]
GO
/****** Object:  Default [DF__LeaveClas__Remai__2EDAF651]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[LeaveClass1] ADD  DEFAULT ((2)) FOR [RemaindProc]
GO
/****** Object:  Default [DF__LeaveClas__Remai__2FCF1A8A]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[LeaveClass1] ADD  DEFAULT ((1)) FOR [RemaindCount]
GO
/****** Object:  Default [DF__LeaveClas__Repor__30C33EC3]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[LeaveClass1] ADD  DEFAULT ('-') FOR [ReportSymbol]
GO
/****** Object:  Default [DF__LeaveClas__Deduc__31B762FC]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[LeaveClass1] ADD  DEFAULT ((0)) FOR [Deduct]
GO
/****** Object:  Default [DF__LeaveClas__Leave__32AB8735]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[LeaveClass1] ADD  DEFAULT ((0)) FOR [LeaveType]
GO
/****** Object:  Default [DF__LeaveClas__Color__339FAB6E]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[LeaveClass1] ADD  DEFAULT ((0)) FOR [Color]
GO
/****** Object:  Default [DF__LeaveClas__Class__3493CFA7]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[LeaveClass1] ADD  DEFAULT ((0)) FOR [Classify]
GO
/****** Object:  Default [DF__Machines__Serial__69FBBC1F]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[Machines] ADD  DEFAULT ((1)) FOR [SerialPort]
GO
/****** Object:  Default [DF__Machines__Port__6AEFE058]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[Machines] ADD  DEFAULT ((1)) FOR [Port]
GO
/****** Object:  Default [DF__Machines__Machin__6BE40491]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[Machines] ADD  DEFAULT ((1)) FOR [MachineNumber]
GO
/****** Object:  Default [DF__Machines__UILang__6EC0713C]    Script Date: 09/02/2026 12:30:18 ******/
ALTER TABLE [dbo].[Machines] ADD  DEFAULT ((-1)) FOR [UILanguage]
GO
/****** Object:  Default [DF__Machines__DateFo__6FB49575]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[Machines] ADD  DEFAULT ((-1)) FOR [DateFormat]
GO
/****** Object:  Default [DF__Machines__InOutR__70A8B9AE]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[Machines] ADD  DEFAULT ((-1)) FOR [InOutRecordWarn]
GO
/****** Object:  Default [DF__Machines__Idle__719CDDE7]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[Machines] ADD  DEFAULT ((-1)) FOR [Idle]
GO
/****** Object:  Default [DF__Machines__Voice__72910220]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[Machines] ADD  DEFAULT ((-1)) FOR [Voice]
GO
/****** Object:  Default [DF__Machines__manage__73852659]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[Machines] ADD  DEFAULT ((-1)) FOR [managercount]
GO
/****** Object:  Default [DF__Machines__userco__74794A92]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[Machines] ADD  DEFAULT ((-1)) FOR [usercount]
GO
/****** Object:  Default [DF__Machines__finger__756D6ECB]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[Machines] ADD  DEFAULT ((-1)) FOR [fingercount]
GO
/****** Object:  Default [DF__Machines__Secret__76619304]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[Machines] ADD  DEFAULT ((-1)) FOR [SecretCount]
GO
/****** Object:  Default [DF__Machines__LockCo__7755B73D]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[Machines] ADD  DEFAULT ((-1)) FOR [LockControl]
GO
/****** Object:  Default [DF__Machines__Purpos__1209AD79]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[Machines] ADD  DEFAULT ((1)) FOR [Purpose]
GO
/****** Object:  Default [DF__Machines__Produc__18B6AB08]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[Machines] ADD  DEFAULT ((1)) FOR [ProduceKind]
GO
/****** Object:  Default [DF__Machines__PhotoS__047AA831]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[Machines] ADD  DEFAULT ((0)) FOR [PhotoStamp]
GO
/****** Object:  Default [DF__Machines__IsIfCh__056ECC6A]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[Machines] ADD  DEFAULT ((0)) FOR [IsIfChangeConfigServer2]
GO
/****** Object:  Default [DF__Machines__IsAndr__13BCEBC1]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[Machines] ADD  DEFAULT ((0)) FOR [IsAndroid]
GO
/****** Object:  Default [DF__NUM_RUN__OLDID__6477ECF3]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[NUM_RUN] ADD  DEFAULT ((-1)) FOR [OLDID]
GO
/****** Object:  Default [DF__NUM_RUN__STARTDA__656C112C]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[NUM_RUN] ADD  DEFAULT ('1900-1-1') FOR [STARTDATE]
GO
/****** Object:  Default [DF__NUM_RUN__ENDDATE__66603565]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[NUM_RUN] ADD  DEFAULT ('2099-12-31') FOR [ENDDATE]
GO
/****** Object:  Default [DF__NUM_RUN__CYLE__6754599E]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[NUM_RUN] ADD  DEFAULT ((1)) FOR [CYLE]
GO
/****** Object:  Default [DF__NUM_RUN__UNITS__68487DD7]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[NUM_RUN] ADD  DEFAULT ((1)) FOR [UNITS]
GO
/****** Object:  Default [DF__NUM_RUN_D__SCHCL__6B24EA82]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[NUM_RUN_DEIL] ADD  DEFAULT ((-1)) FOR [SCHCLASSID]
GO
/****** Object:  Default [DF__SchClass__CheckI__395884C4]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[SchClass] ADD  DEFAULT ((1)) FOR [CheckIn]
GO
/****** Object:  Default [DF__SchClass__CheckO__3A4CA8FD]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[SchClass] ADD  DEFAULT ((1)) FOR [CheckOut]
GO
/****** Object:  Default [DF__SchClass__Color__3B40CD36]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[SchClass] ADD  DEFAULT ((16715535)) FOR [Color]
GO
/****** Object:  Default [DF__SchClass__AutoBi__3C34F16F]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[SchClass] ADD  DEFAULT ((1)) FOR [AutoBind]
GO
/****** Object:  Default [DF__SchClass__WorkDa__57DD0BE4]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[SchClass] ADD  DEFAULT ((1)) FOR [WorkDay]
GO
/****** Object:  Default [DF__SchClass__WorkMi__17C286CF]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[SchClass] ADD  DEFAULT ((0)) FOR [WorkMins]
GO
/****** Object:  Default [DF__SHIFT__USHIFTID__6FE99F9F]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[SHIFT] ADD  DEFAULT ((-1)) FOR [USHIFTID]
GO
/****** Object:  Default [DF__SHIFT__STARTDATE__70DDC3D8]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[SHIFT] ADD  DEFAULT ('1900-1-1') FOR [STARTDATE]
GO
/****** Object:  Default [DF__SHIFT__ENDDATE__71D1E811]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[SHIFT] ADD  DEFAULT ('1900-12-31') FOR [ENDDATE]
GO
/****** Object:  Default [DF__SHIFT__RUNNUM__72C60C4A]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[SHIFT] ADD  DEFAULT ((0)) FOR [RUNNUM]
GO
/****** Object:  Default [DF__SHIFT__SCH1__73BA3083]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[SHIFT] ADD  DEFAULT ((0)) FOR [SCH1]
GO
/****** Object:  Default [DF__SHIFT__SCH2__74AE54BC]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[SHIFT] ADD  DEFAULT ((0)) FOR [SCH2]
GO
/****** Object:  Default [DF__SHIFT__SCH3__75A278F5]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[SHIFT] ADD  DEFAULT ((0)) FOR [SCH3]
GO
/****** Object:  Default [DF__SHIFT__SCH4__76969D2E]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[SHIFT] ADD  DEFAULT ((0)) FOR [SCH4]
GO
/****** Object:  Default [DF__SHIFT__SCH5__778AC167]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[SHIFT] ADD  DEFAULT ((0)) FOR [SCH5]
GO
/****** Object:  Default [DF__SHIFT__SCH6__787EE5A0]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[SHIFT] ADD  DEFAULT ((0)) FOR [SCH6]
GO
/****** Object:  Default [DF__SHIFT__SCH7__797309D9]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[SHIFT] ADD  DEFAULT ((0)) FOR [SCH7]
GO
/****** Object:  Default [DF__SHIFT__SCH8__7A672E12]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[SHIFT] ADD  DEFAULT ((0)) FOR [SCH8]
GO
/****** Object:  Default [DF__SHIFT__SCH9__7B5B524B]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[SHIFT] ADD  DEFAULT ((0)) FOR [SCH9]
GO
/****** Object:  Default [DF__SHIFT__SCH10__7C4F7684]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[SHIFT] ADD  DEFAULT ((0)) FOR [SCH10]
GO
/****** Object:  Default [DF__SHIFT__SCH11__7D439ABD]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[SHIFT] ADD  DEFAULT ((0)) FOR [SCH11]
GO
/****** Object:  Default [DF__SHIFT__SCH12__7E37BEF6]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[SHIFT] ADD  DEFAULT ((0)) FOR [SCH12]
GO
/****** Object:  Default [DF__SHIFT__CYCLE__7F2BE32F]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[SHIFT] ADD  DEFAULT ((0)) FOR [CYCLE]
GO
/****** Object:  Default [DF__SHIFT__UNITS__00200768]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[SHIFT] ADD  DEFAULT ((0)) FOR [UNITS]
GO
/****** Object:  Default [DF__SystemLog__LogTi__0C50D423]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[SystemLog] ADD  DEFAULT (getdate()) FOR [LogTime]
GO
/****** Object:  Default [DF__TEMPLATE__Flag__019E3B86]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[TEMPLATE] ADD  DEFAULT ((1)) FOR [Flag]
GO
/****** Object:  Default [DF__TEMPLATE__Divisi__02925FBF]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[TEMPLATE] ADD  DEFAULT ((0)) FOR [DivisionFP]
GO
/****** Object:  Default [DF__USER_OF_R__START__04E4BC85]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[USER_OF_RUN] ADD  DEFAULT ('1900-1-1') FOR [STARTDATE]
GO
/****** Object:  Default [DF__USER_OF_R__ENDDA__05D8E0BE]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[USER_OF_RUN] ADD  DEFAULT ('2099-12-31') FOR [ENDDATE]
GO
/****** Object:  Default [DF__USER_OF_R__ISNOT__06CD04F7]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[USER_OF_RUN] ADD  DEFAULT ((0)) FOR [ISNOTOF_RUN]
GO
/****** Object:  Default [DF__USER_SPED__START__09A971A2]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[USER_SPEDAY] ADD  DEFAULT ('1900-1-1') FOR [STARTSPECDAY]
GO
/****** Object:  Default [DF__USER_SPED__ENDSP__0A9D95DB]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[USER_SPEDAY] ADD  DEFAULT ('2099-12-31') FOR [ENDSPECDAY]
GO
/****** Object:  Default [DF__USER_SPED__DATEI__0B91BA14]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[USER_SPEDAY] ADD  DEFAULT ((-1)) FOR [DATEID]
GO
/****** Object:  Default [DF__USER_TEMP__OVERT__0E6E26BF]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[USER_TEMP_SCH] ADD  DEFAULT ((0)) FOR [OVERTIME]
GO
/****** Object:  Default [DF__USER_TEMP___TYPE__0F624AF8]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[USER_TEMP_SCH] ADD  DEFAULT ((0)) FOR [TYPE]
GO
/****** Object:  Default [DF__USER_TEMP___FLAG__10566F31]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[USER_TEMP_SCH] ADD  DEFAULT ((1)) FOR [FLAG]
GO
/****** Object:  Default [DF__USER_TEMP__SCHCL__114A936A]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[USER_TEMP_SCH] ADD  DEFAULT ((-1)) FOR [SCHCLASSID]
GO
/****** Object:  Default [DF__USERINFO__DEFAUL__14270015]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[USERINFO] ADD  CONSTRAINT [DF__USERINFO__DEFAUL__14270015]  DEFAULT ((1)) FOR [DEFAULTDEPTID]
GO
/****** Object:  Default [DF__USERINFO__ATT__151B244E]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[USERINFO] ADD  CONSTRAINT [DF__USERINFO__ATT__151B244E]  DEFAULT ((1)) FOR [ATT]
GO
/****** Object:  Default [DF__USERINFO__INLATE__160F4887]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[USERINFO] ADD  CONSTRAINT [DF__USERINFO__INLATE__160F4887]  DEFAULT ((1)) FOR [INLATE]
GO
/****** Object:  Default [DF__USERINFO__OUTEAR__17036CC0]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[USERINFO] ADD  CONSTRAINT [DF__USERINFO__OUTEAR__17036CC0]  DEFAULT ((1)) FOR [OUTEARLY]
GO
/****** Object:  Default [DF__USERINFO__OVERTI__17F790F9]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[USERINFO] ADD  CONSTRAINT [DF__USERINFO__OVERTI__17F790F9]  DEFAULT ((1)) FOR [OVERTIME]
GO
/****** Object:  Default [DF__USERINFO__SEP__18EBB532]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[USERINFO] ADD  CONSTRAINT [DF__USERINFO__SEP__18EBB532]  DEFAULT ((1)) FOR [SEP]
GO
/****** Object:  Default [DF__USERINFO__HOLIDA__19DFD96B]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[USERINFO] ADD  CONSTRAINT [DF__USERINFO__HOLIDA__19DFD96B]  DEFAULT ((1)) FOR [HOLIDAY]
GO
/****** Object:  Default [DF__USERINFO__LUNCHD__1AD3FDA4]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[USERINFO] ADD  CONSTRAINT [DF__USERINFO__LUNCHD__1AD3FDA4]  DEFAULT ((1)) FOR [LUNCHDURATION]
GO
/****** Object:  Default [DF__USERINFO__privil__40F9A68C]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[USERINFO] ADD  CONSTRAINT [DF__USERINFO__privil__40F9A68C]  DEFAULT ((0)) FOR [privilege]
GO
/****** Object:  Default [DF__USERINFO__Inheri__45BE5BA9]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[USERINFO] ADD  CONSTRAINT [DF__USERINFO__Inheri__45BE5BA9]  DEFAULT ((1)) FOR [InheritDeptSch]
GO
/****** Object:  Default [DF__USERINFO__Inheri__46B27FE2]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[USERINFO] ADD  CONSTRAINT [DF__USERINFO__Inheri__46B27FE2]  DEFAULT ((1)) FOR [InheritDeptSchClass]
GO
/****** Object:  Default [DF__USERINFO__AutoSc__47A6A41B]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[USERINFO] ADD  CONSTRAINT [DF__USERINFO__AutoSc__47A6A41B]  DEFAULT ((1)) FOR [AutoSchPlan]
GO
/****** Object:  Default [DF__USERINFO__MinAut__489AC854]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[USERINFO] ADD  CONSTRAINT [DF__USERINFO__MinAut__489AC854]  DEFAULT ((24)) FOR [MinAutoSchInterval]
GO
/****** Object:  Default [DF__USERINFO__Regist__498EEC8D]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[USERINFO] ADD  CONSTRAINT [DF__USERINFO__Regist__498EEC8D]  DEFAULT ((1)) FOR [RegisterOT]
GO
/****** Object:  Default [DF__USERINFO__Inheri__4A8310C6]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[USERINFO] ADD  CONSTRAINT [DF__USERINFO__Inheri__4A8310C6]  DEFAULT ((1)) FOR [InheritDeptRule]
GO
/****** Object:  Default [DF__USERINFO__EMPRIV__6442E2C9]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[USERINFO] ADD  CONSTRAINT [DF__USERINFO__EMPRIV__6442E2C9]  DEFAULT ((0)) FOR [EMPRIVILEGE]
GO
/****** Object:  Default [DF__USERINFO__FaceGr__0B27A5C0]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[USERINFO] ADD  DEFAULT ((0)) FOR [FaceGroup]
GO
/****** Object:  Default [DF__USERINFO__AccGro__0C1BC9F9]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[USERINFO] ADD  DEFAULT ((1)) FOR [AccGroup]
GO
/****** Object:  Default [DF__USERINFO__UseAcc__0D0FEE32]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[USERINFO] ADD  DEFAULT ((1)) FOR [UseAccGroupTZ]
GO
/****** Object:  Default [DF__USERINFO__Verify__0E04126B]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[USERINFO] ADD  DEFAULT ((0)) FOR [VerifyCode]
GO
/****** Object:  Default [DF__USERINFO__Expire__0EF836A4]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[USERINFO] ADD  DEFAULT ((0)) FOR [Expires]
GO
/****** Object:  Default [DF__USERINFO__ValidC__0FEC5ADD]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[USERINFO] ADD  DEFAULT ((0)) FOR [ValidCount]
GO
/****** Object:  Default [DF__USERINFO__TimeZo__10E07F16]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[USERINFO] ADD  DEFAULT ((1)) FOR [TimeZone1]
GO
/****** Object:  Default [DF__USERINFO__TimeZo__11D4A34F]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[USERINFO] ADD  DEFAULT ((0)) FOR [TimeZone2]
GO
/****** Object:  Default [DF__USERINFO__TimeZo__12C8C788]    Script Date: 09/02/2026 12:30:19 ******/
ALTER TABLE [dbo].[USERINFO] ADD  DEFAULT ((0)) FOR [TimeZone3]
GO
